*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight: rgba(0, 0, 0, 0);
}
body, #wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #0e0e0e;
	color: #6f6f6f
}
#wrapper{
	background: rgba(0,0,0,0.95);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: auto;
}
canvas{
	z-index: 5;
	position: absolute;
}
#about{
	width: 288px;
	position: relative;
	top:0;
	left:0;
	#margin-left:-160px;
	z-index: 1000;
}
a:visited{
	color: rgb(255, 0, 61);
}
h1{
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	margin: 16px 0 16px 16px;
	text-transform: none;
	font-size: 1.3em;
	color: #f0f0f0;
}
p{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 0.8em;
	color: #6f6f6f;
	margin: 0 0 16px 16px;
	text-transform: none;
}
